<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.roc.mapper.EmailMapper">
    <insert id="insertCaptcha">
        insert into email_verification (email, verification_code, expires_at)
        values (#{email}, #{verificationCode}, #{expiresAt})
    </insert>
    <update id="updateCaptcha">
        update email_verification
        set verification_code = #{verificationCode},
            expires_at        = #{expiresAt}
        where email = #{email}
    </update>
    <delete id="deleteByEmail">
        delete
        from email_verification
        where email = #{email}
    </delete>
    <select id="getCaptchaByEmail" resultType="com.roc.entity.EmailVerification">
        select *
        from email_verification
        where email = #{email}
    </select>
</mapper>